<%= form_tag do %>
  <div class="form-group">
    <%= label_tag :email %>
    <%= text_field_tag 'user[email]' %>
  </div>
  <div class="form-group">
    <%= label_tag :password %>
    <%= text_field_tag 'user[password]' %>
  </div>
    <%= submit_tag 'Login to my account', class: 'btn btn-success' %>
<% end %>

