<div class="container">
  <h2>Title: <%= @ebook.title %></h2>
  <p>Description: <%= @ebook.description %></p>
  <p>Price: <%= number_to_currency(@ebook.price) %></p>
  <p>Categories: <%= @ebook.categories || "None yet" %></p>
  <%= link_to 'Assign categories', users_authors_ebook_path(@ebook), method: 'edit' %>
</div>