<h1>Your Authors</h1>

<%= form_tag(users_authors_path, class: "form-inline") do %>
  <%= text_field_tag :name, 'Author name', class: "form-control mr-sm-2" %>
  <%= submit_tag "Create new author", class: 'btn' %>
<% end %>

<table class="table">
  <% @authors.each do |author| %>
    <tr>
      <td><%= link_to author.name, users_author_path(author.id) %></td>
      <td><%= author.ebooks.count %> eBooks</td>
      <td><%= link_to 'Post an eBook.', new_users_authors_ebook_path(author: author) %></td>
    </tr>
  <% end %>
</table>
