<h1><%= @category.name %> eBooks</h1>

<% @category.ebooks.each do |ebook| %>
  <div class="category-ebook">
    <h4><%= link_to "#{ebook.title}", ebook_path(ebook) %></h4>
    <p>
      <%= ebook.description %>
    </p>
    <p>
      <%= ebook.price %>
    </p>
    <%= button_to "Add to Cart", cart_path(ebook_id: ebook.id) %>
  </div>
<% end %>