<!DOCTYPE html>
<html>
  <head>
    <title>Bookfund</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Slabo+27px" rel="stylesheet">
  </head>

  <body>
    <%= render 'header' %>
    <%= yield %>
  </body>
</html>
