<!DOCTYPE html>
<html>
  <head>
    <title>Bookfund</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Slabo+27px" rel="stylesheet">
  </head>

  <body>
    <%= render 'nav_bar' %>
    <% flash.each do |name, msg| %>
      <div class="alert alert-success" role="alert">
        <%= content_tag :div, raw(msg), class: name %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>